.search {
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 6px;
  padding-top: 2px;
  border-radius: 4px;
}

.button {
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: blanchedalmond;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  min-width: 40%;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(252, 252, 252);
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  min-width: 60%;
  flex-direction: column;
}
